name: Android 持续集成

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: 检出代码
        uses: actions/checkout@v4

      - name: 设置 JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: 编译插件 ${{matrix.arch}}
        run: |
          chmod +x gradlew
          ./gradlew app:assemblerelease

      - name: 上传插件 ${{matrix.arch}}
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: FCLRendererPlugin
          path: app/build/outputs/apk/release/*